.cart {
  display: block;
  position: relative;
}

.cart__empty-text {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  padding: 7rem 0;
  text-align: center;
}

.cart__empty-text {
  margin: 4.5rem 0 5.5rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 10rem 0 15rem;
  }

  .cart__empty-text {
    margin: 5rem 0 6rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  padding-bottom: 3rem;
  position: relative;
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__note {
  display: block;
  margin: 0 auto;
  max-width: 35rem;
}

.cart__note label {
  align-items: flex-end;
  color: rgba(var(--color-foreground), 0.75);
  display: flex;
  height: 1.8rem;
  line-height: 1;
  margin-bottom: 2rem;
}

.cart__note .field__input {
  padding: 2rem;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-end: 3;
    grid-column-start: 1;
    padding-bottom: 10rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }
}

.cart__update-button {
  margin-bottom: 0;
  margin-right: 0.8rem;
}

.cart-note__label {
  display: inline-block;
  line-height: 2;
  margin-bottom: 1rem;
}

.tax-note {
  display: block;
  margin: 2.2rem 0 2.2rem auto;
  text-align: right;
}

.cart__checkout-button {
  max-width: 36rem;
}

[data-shopify-buttoncontainer] {
  justify-content: flex-end;
}
