.side-menu {
  min-width: auto;
  transform: translateX(calc(var(--page-width-padding) / -1));
  width: calc(100% + var(--page-width-padding) * 2);
}

@media screen and (min-width: 990px) {
  .side-menu {
    flex-shrink: 2;
    margin-right: 6rem;
    min-width: 36rem;
    transform: translateX(0);
    width: auto;
  }
}

.side-menu.is-active .side-menu__links {
  display: block;
}

.side-menu.is-active .side-menu__heading svg {
  transform: rotate(180deg);
}

.side-menu__links {
  display: none;
}

@media screen and (min-width: 990px) {
  .side-menu__links {
    display: block;
  }
}

.side-menu__link-wrapper,
.side-menu__heading-wrapper {
  padding: 0 var(--page-width-padding);
  position: relative;
}

.side-menu__heading-wrapper {
  display: block;
}

@media screen and (min-width: 990px) {
  .side-menu__heading-wrapper {
    display: none;
  }
}

.side-menu__link,
.side-menu__heading {
  align-items: center;
  border-bottom: 0.1rem solid rgb(var(--color-border-1));
  display: flex;
  font-weight: var(--font-body-weight);
  justify-content: space-between;
  margin: 0;
  padding: 2.4rem 0;
  text-decoration: none;
}

.side-menu__link-wrapper:last-child .side-menu__link {
  border-bottom: none;
}

.side-menu__link-text,
.side-menu__heading-text {
  margin: 0 2rem 0 0;
  margin-right: 2rem;
}

.side-menu__link svg {
  width: 3.2rem;
}

.side-menu__heading svg {
  width: 2rem;
}

.side-menu__active-icon {
  display: none;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.side-menu__link-wrapper.is-active .side-menu__active-icon {
  display: block;
}
